script#materialDetailDir(type='text/ng-template')
    div(class="widget material-wdg")
        div(class="tabs", data-ng-show="data.length")
                    div
                        span(id="po") #{__('PO')}:
                    div
                        span(id="po") #{__("Auto plaN')}:
                    div
                        span(id="po") #{__("lblMaterialReorderQty")}:
                    div
                        span(id="po") #{__('lblMaterialReorderQt')}: